/*font-family: 'Cookie', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Fascinate Inline', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Economica', sans-serif;*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Economica', sans-serif;
}

body {
	overflow-x: hidden;
}

#footer-capstone {
	background-color: #040F16;
	color: #F9FCFF;
}

.navbar {
	font-size: 1.5rem;
	font-family: 'Sacramento', cursive;

}

.bg-blue {
	background-color: rgba(40,169,219,0.2);
}

.nav-link {
	color: #F9FCFF !important;
}

.card {
	box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.75);
}

.card-body {
	display: flex;
  	flex-direction: column;
}

.card-text {
	text-align: justify-all;
	font-family: 'Shadows Into Light', cursive;
}





